.contact-card {
    border: 0px;
    min-width: 200px;
    max-width: 200px;
    max-height: 325px;
    margin: 10px 5px 10px 5px;
}
.contact-img {
    border-radius: 100px;
    padding: 15px;
}
.contact-name {
    text-align: center;
}
.contact-search-box {
    margin-top: 20px;
    max-width: 25%
}